@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
@import "../../styles/colors";

.currency-choice {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  &__values {
    display: flex;
    width: 415px;
    height: 415px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    margin-top: 15px;
    width: 200px;
    height: 200px;
    background-color: $second-back;
    border-radius: 18px;
    transition: 0.3s;
    &_hover {
      background-color: $first-back;
    }
    &_active {
      background-color: $main-dark;
    }

    &-title {
      font: {
        family: 'Montserrat';
        size: 14px;
        weight: 400; 
      };
      letter-spacing: 0.02em;
      color: $main-dark;
      transition: 0.3s;
      &_hover {
        color: $main-light;
      }
      &_active {
        color: $main-light;
      }
    }
    &-header {
      margin-top: 15px;
      width: 100%;
      display: flex;
      padding: 0 22px 0 22px;
    }
    &-del {
      margin-left: auto;
      background: none;
      outline: none;
      border: none;
      transition: 0.3s;
      font: {
        family: "Montserrat";
        size: 12px;
        weight: 300;
      };
      &_hover {
        color: $main-light;
      }
      &_active {
        color: $main-light;
      }
    }
  }

  &__btns {
    margin: 30px auto 0 auto;
    display: flex;
  }
  &__btn {
    margin-left: 8px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 1px solid $first-back;
    background-color: $second-back;
    transition: 0.2s;
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      border: 1px solid $first-back;
      background-color: $first-back;
    }

    &_active {
      background-color: $main-dark;
    }
  }

  &__input {
    padding-left: 10px;
    border: none;
    outline: none;
    width: 100px;
    height: 40px;
    background-color: $second-back;
    border-radius: 10px;
    transition: 0.3s;
    border: 2px solid $second-back;
    font: {
      family: "Montserrat";
      size: 14px;
      weight: 500;
    }
    letter-spacing: 0.05em;
    color: $main-dark;

    &::placeholder {
      font: {
        family: "Montserrat";
        size: 14px;
        weight: 400;
      }
      letter-spacing: 0.05em;
      color: $first-back;
    }
    &:focus {
      width: 200px;
      border: 2px solid $first-back;
    }
  }
}
