@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
@import '../../../styles/colors';

.btns {
  margin-left: auto;
  margin-bottom: 15px;

  &__btn {
    width: 50px;
    height: 25px;
    border-radius: 8px;
    margin-left: 10px;
    background-color: $second-back;
    transition: 0.3s;
    color: $main-dark;

    outline: none;
    border: none;

    font: {
      family: "Montserrat";
      size: 12px;
      weight: 500;
    }
    letter-spacing: 0.05em;

    &:first-child {
      margin-left: 0;
    }
    &:hover {
      background-color: $first-back;
      color: $main-light;
    }
  }

  &__active-btn {
    @extend .btns__btn;

    background-color: $main-dark;
    color: $main-light;
  }
}
