@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
@import "../../styles/colors";

.state-shown {
  width: 120px;
  height: 40px;
  border-radius: 12px;
  background-color: $second-back;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    font: {
      family: "Montserrat";
      size: 16px;
      weight: 600;
    }
    letter-spacing: 0.02em;
  }
}
