@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

.main {
  display: flex;
  flex-direction: column;
  width: 700px;

  &__svg-chart {
    border-radius: 25px;
    background-color: #98e3f021;
    transition: 0.3s;
    // margin-top: 30px;

    width: 700px;
    height: 300px;

    &:hover {
      background-color: #98e3f046;
    }
  }

  &__svg {
    width: 100%;
    height: 100%;
  }

  &__backline {
    stroke: #1282a2;
    stroke-dasharray: 2 4;
    opacity: 0.6;
  }

  &__path {
    fill: none;
    stroke: #309cb9;
    stroke-width: 2;
  }
  &__area {
    fill: #caf0f8;
    opacity: 0.8;
  }

  &__under {
    stroke: #2c7da0;
  }

  &__text {
    font-family: "Montserrat";
    font-size: 12px;
    letter-spacing: 0.05em;
    fill: #1282a2;
    opacity: 0.9;
  }
}
