@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
@import "../../styles/colors";

.value-choice {
  display: flex;
  flex-direction: column;

  &__header {
    width: 100%;
    display: flex;
  }

  &__input {
    margin-left: auto;
    margin-bottom: 12px;
    padding-left: 10px;
    border: none;
    outline: none;
    width: 150px;
    height: 40px;
    background-color: $second-back;
    border-radius: 10px;
    transition: 0.3s;
    border: 2px solid $second-back;
    font: {
      family: "Montserrat";
      size: 14px;
      weight: 500;
    }
    letter-spacing: 0.05em;
    color: $main-dark;

    &::placeholder {
      font: {
        family: "Montserrat";
        size: 14px;
        weight: 400;
      }
      letter-spacing: 0.05em;
      color: $first-back;
    }
    &:focus {
      border: 2px solid $first-back;
    }
  }

  &__btns {
    margin-left: auto;
    display: flex;
    margin-bottom: 20px;
  }

  &__svg {
    width: 34px;
    height: 34px;
  }
  &__cross {
    stroke: $main-dark;
    stroke-width: 1.2;
    &_hover {
      stroke: $main-light;
      stroke-width: 1.2;
    }
    &_active {
      stroke: $main-light;
      stroke-width: 1.2;
    }
  }
  &__item {
    cursor: pointer;
    margin-left: 12px;
    width: 100px;
    height: 34px;
    border-radius: 8px;
    background: none;
    background-color: $second-back;
    transition: 0.3s;
    display: flex;

    &-text {
      font: {
        family: "Montserrat";
        size: 14px;
        weight: 500;
      }
      letter-spacing: 0.05em;
      color: $main-dark;
      &_hover {
        color: $main-light;
      }
      &_active {
        color: $main-light;
      }
    }
    &:first-child {
      margin-left: 0;
    }
    &:hover {
      background-color: $first-back;
    }
    &_active {
      background-color: $main-dark;
    }

    &-name {
      display: flex;
      width: 66px;
      height: 34px;
      justify-content: center;
      align-items: center;
    }
    &-del {
      width: 34px;
      height: 34px;
      background: none;
      border-left: 2px solid $main-light;
    }
  }
}
